<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @tweet.title %>
    </h2>
    <div style="width:70vw" class="container">
      <%= image_tag @tweet.image, class: "img-fluid " if @tweet.image.attached? %>
    </div>

    <div class="text-center">
    <% if user_signed_in? %>
    <% if @tweet.user_id == current_user.id%>
    <%= link_to "ツイートの編集", edit_tweet_path(@tweet), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", tweet_path(@tweet), method: :delete, class:"item-destroy" %>
    <% end %>
    <% end %>
    </div>

    <div class="item-explain-box">
      <span><%= @tweet.text %></span>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
    <div class="center-block">
    <div class="map">
      <div id="map" style="height: 50vh; width: 50vw;"></div>
    </div>
    </div>
    <div type="text/javascript">
      <script>
      function initMap(){
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @tweet.latitude %>, lng: <%= @tweet.longitude %> },
      zoom: 15
      });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap" async defer></script>
    </div>
  </div>
</div>
<%= render "shared/second_footer" %>