<div class='item-contents'>
  <h2 class='title'>ピックアップ！</h2>
  <div class="subtitle" >
    新着画像
  </div>
  <ul class='item-lists'>
    <%# <% @items.each do |item|%>
    <li class='list'>
      <%= link_to "#" do %>
      <div class='item-img-content'>
        <%= image_tag "IMG_8570-2.jpg", class: "item-img" %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= "真夜中ツーリング" %>
        </h3>
      </div>
      <% end %>
    </li>
  </ul>
  <div class="subtitle" >みんなの愛車紹介</div>
  <ul class='item-lists'>
    <%# <% @items.each do |item|%>
    <li class='list'>
      <%= link_to "#" do %>
      <div class='item-img-content'>
        <%= image_tag "49560EFB-76F2-47C7-A82C-0C6FF706B69E_1_105_c.jpeg", class: "item-img" %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= "NC-750X!!" %>
        </h3>
      </div>
      <% end %>
    </li>
  </ul>  <div class="subtitle" >いま注目の人気記事！</div>
  <ul class='item-lists'>
    <%# <% @items.each do |item|%>
    <li class='list'>
      <%= link_to "#" do %>
      <div class='item-img-content'>
        <%= image_tag "256F9F26-C876-448C-949C-51F146328431_1_105_c.jpeg", class: "item-img" %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= "磐梯吾妻スカイライン" %>
        </h3>
      </div>
      <% end %>
    </li>
  </ul>