<div class='item-contents'>
  <h2 class='title'>ピックアップ！</h2>
  <div class="subtitle" >
    新着画像
  </div>
  <ul class='item-lists slider'>
    <% @tweets.each do |tweet|%>
    <li class='list'>
      <%= link_to tweet_path(tweet) do %>
      <div class='tweet-img-content'>
        <%= image_tag tweet.image, class: "item-img" if tweet.image.attached? %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= tweet.title %>
        </h3>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <div class="subtitle" >
  みんなの愛車紹介
  </div>
  <ul class='item-lists slider'>
    <% @users.each do |users|%>
    <li class='list'>
      <%= link_to "#" do %>
      <div class='item-img-content'>
        <%= image_tag users.image, class: "item-img" if users.image.attached? %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= users.nickname %>
        </h3>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <div class="subtitle" >いま注目の人気記事！</div>
  <ul class='item-lists'>
    <%# <% @items.each do |item|%>
    <li class='list'>
      <%= link_to "#" do %>
      <div class='item-img-content'>
        <%= image_tag "256F9F26-C876-448C-949C-51F146328431_1_105_c.jpeg", class: "item-img" %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= "磐梯吾妻スカイライン" %>
        </h3>
      </div>
      <% end %>
    </li>
  </ul>