<div class="genre">
ジャンル
  <ul class='genre-list'>
    <li><%= image_tag "mountain.png", class:"list-pict" %><%= link_to '山・海', "#", class: "mountain" %></li>
    <li><%= image_tag "magari_michi.png", class:"list-pict" %><%= link_to '道', "#", class: "load" %></li>
    <li><%= image_tag "bike_cowling.png", class:"list-pict" %><%= link_to 'バイク', "#", class: "login" %></li>
    <li><%= image_tag "search_mushimegane.png", class:"list-pict" %><%= link_to 'その他', "#", class: "login" %></li>
  </ul>
</div>